USE [master]
GO
/****** Object:  Database [LibraryManagementSystem]    Script Date: 12/30/2025 12:43:17 PM ******/
CREATE DATABASE [LibraryManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryManagementSystem', FILENAME = N'C:\Users\PC\LibraryManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryManagementSystem_log', FILENAME = N'C:\Users\PC\LibraryManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryManagementSystem]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 12/30/2025 12:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [varchar](20) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[Address] [varchar](200) NULL,
	[Gender] [varchar](10) NULL,
	[Birthday] [date] NULL,
	[Age] [int] NULL,
	[Password] [varchar](50) NULL,
	[IDNumber] [varchar](20) NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 12/30/2025 12:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [nvarchar](20) NOT NULL,
	[BookName] [nvarchar](100) NULL,
	[AuthorName] [nvarchar](100) NULL,
	[Subject] [nvarchar](100) NULL,
	[Category] [nvarchar](50) NULL,
	[Language] [nvarchar](50) NULL,
	[Publisher] [nvarchar](100) NULL,
	[PublicationYear] [int] NULL,
	[Quantity] [int] NULL,
	[Edition] [nvarchar](50) NULL,
	[Notes] [varchar](200) NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberActions]    Script Date: 12/30/2025 12:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberActions](
	[ActionID] [int] IDENTITY(1,1) NOT NULL,
	[LibraryID] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Action] [nvarchar](50) NULL,
	[ActionTime] [datetime] NULL,
	[AdminID] [nvarchar](50) NULL,
	[Notes] [nvarchar](100) NULL,
 CONSTRAINT [PK_MemberActions] PRIMARY KEY CLUSTERED 
(
	[ActionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 12/30/2025 12:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[LibraryID] [varchar](20) NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[Address] [varchar](200) NULL,
	[Gender] [varchar](10) NULL,
	[Birthday] [date] NULL,
	[Age] [int] NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 12/30/2025 12:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] NOT NULL,
	[LibraryID] [varchar](20) NULL,
	[BookID] [varchar](20) NULL,
	[BookName] [varchar](100) NULL,
	[AdminID] [varchar](20) NULL,
	[ActionType] [varchar](20) NULL,
	[Quantity] [int] NULL,
	[IssueDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[ReturnDate] [datetime] NULL,
	[TransactionDate] [datetime] NULL,
	[Notes] [varchar](200) NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admins] ([AdminID], [FirstName], [LastName], [Phone], [Address], [Gender], [Birthday], [Age], [Password], [IDNumber]) VALUES (N'AID000000', N'Pathum', N'Lakshan', N'0717357550', N'146/4, Horahena Road, Waboda West, Waboda.', N'Male ', CAST(N'2004-03-10' AS Date), 21, N'Pathum123', N'200407013126')
INSERT [dbo].[Admins] ([AdminID], [FirstName], [LastName], [Phone], [Address], [Gender], [Birthday], [Age], [Password], [IDNumber]) VALUES (N'AID219535', N'Yugantha', N'Randil', N'0715198777', N'66/7 Happy Land, Pahalagama, Weweldeniya', N'Male ', CAST(N'2005-02-27' AS Date), 20, N'r12345', N'200605803973')
INSERT [dbo].[Admins] ([AdminID], [FirstName], [LastName], [Phone], [Address], [Gender], [Birthday], [Age], [Password], [IDNumber]) VALUES (N'AID806503', N'pyhc', N'adhgja', N'0711234567', N'sdfsd', N'Male ', CAST(N'2000-02-02' AS Date), 25, N'12345', N'200407013125')
GO
INSERT [dbo].[Books] ([BookID], [BookName], [AuthorName], [Subject], [Category], [Language], [Publisher], [PublicationYear], [Quantity], [Edition], [Notes]) VALUES (N'BID111484', N'Please Look After Mom', N'Shin Kyung - sook', N'Story', N'Fiction', N'English', N'Changbi Publishers', 2008, 12, N'1st', N'Donation')
INSERT [dbo].[Books] ([BookID], [BookName], [AuthorName], [Subject], [Category], [Language], [Publisher], [PublicationYear], [Quantity], [Edition], [Notes]) VALUES (N'BID116028', N'Viragaya', N'Martin Wickramasinghe', N'Sinhala Novel', N'Fiction', N'Sinhala ', N'Sarasa Publishers', 1956, 0, N'7th', N'Donation')
INSERT [dbo].[Books] ([BookID], [BookName], [AuthorName], [Subject], [Category], [Language], [Publisher], [PublicationYear], [Quantity], [Edition], [Notes]) VALUES (N'BID210577', N'Harry Potter and the Sorcerer’s Stone', N'J.K. Rowling', N'Story', N'Fantasy', N'English', N'Bloomsbury', 1997, 21, N'1st', N'Bought for new semester curriculum')
GO
SET IDENTITY_INSERT [dbo].[MemberActions] ON 

INSERT [dbo].[MemberActions] ([ActionID], [LibraryID], [FirstName], [LastName], [Action], [ActionTime], [AdminID], [Notes]) VALUES (1, N'LID000000', N'Pathum', N'Lakshan', N'LogIn', CAST(N'2025-10-11T13:48:18.433' AS DateTime), N'AID000000', N'Member Log In')
INSERT [dbo].[MemberActions] ([ActionID], [LibraryID], [FirstName], [LastName], [Action], [ActionTime], [AdminID], [Notes]) VALUES (2, N'LID282962', N'Shalini', N'Sandesha', N'LogIn', CAST(N'2025-10-11T13:51:03.687' AS DateTime), N'AID000000', N'Member Log In')
INSERT [dbo].[MemberActions] ([ActionID], [LibraryID], [FirstName], [LastName], [Action], [ActionTime], [AdminID], [Notes]) VALUES (3, N'LID282962', N'Shalini', N'Sandesha', N'LogOut', CAST(N'2025-10-11T13:51:47.577' AS DateTime), N'AID000000', N'Member Log Out')
SET IDENTITY_INSERT [dbo].[MemberActions] OFF
GO
INSERT [dbo].[Members] ([LibraryID], [FirstName], [LastName], [Phone], [Address], [Gender], [Birthday], [Age], [Password]) VALUES (N'LID000000', N'Pathum', N'Lakshan', N'0717357550', N'146/4,Kadawatha,Waboda', N'Male ', CAST(N'2004-03-10' AS Date), 21, N'Pathum123')
INSERT [dbo].[Members] ([LibraryID], [FirstName], [LastName], [Phone], [Address], [Gender], [Birthday], [Age], [Password]) VALUES (N'LID943230', N'Kavindu', N'Sathsara', N'0711234567', N'Ganemulla', N'Male ', CAST(N'2004-12-31' AS Date), 20, N'K1234')
INSERT [dbo].[Members] ([LibraryID], [FirstName], [LastName], [Phone], [Address], [Gender], [Birthday], [Age], [Password]) VALUES (N'LID586239', N'Rasindu', N'Gimhan', N'0783903564', N'42/B Ganihimulla,Dewalapola', N'Male ', CAST(N'2005-01-22' AS Date), 20, N'Rasi2005#')
GO
INSERT [dbo].[Transactions] ([TransactionID], [LibraryID], [BookID], [BookName], [AdminID], [ActionType], [Quantity], [IssueDate], [DueDate], [ReturnDate], [TransactionDate], [Notes]) VALUES (1, N'LID000000', N'BID369848', N'G.C.E.A/L Physics Past Papers(2015-2024)', N'ADM001', N'Return', NULL, CAST(N'2025-10-05T09:58:23.257' AS DateTime), CAST(N'2025-10-05T09:58:19.827' AS DateTime), CAST(N'2025-10-06T07:53:31.377' AS DateTime), NULL, NULL)
INSERT [dbo].[Transactions] ([TransactionID], [LibraryID], [BookID], [BookName], [AdminID], [ActionType], [Quantity], [IssueDate], [DueDate], [ReturnDate], [TransactionDate], [Notes]) VALUES (2, N'LID000000', N'BID369848', N'G.C.E.A/L Physics Past Papers(2015-2024)', N'ADM001', N'Return', NULL, CAST(N'2025-10-05T09:58:35.797' AS DateTime), CAST(N'2025-10-12T09:58:32.777' AS DateTime), CAST(N'2025-10-06T07:53:31.377' AS DateTime), NULL, NULL)
INSERT [dbo].[Transactions] ([TransactionID], [LibraryID], [BookID], [BookName], [AdminID], [ActionType], [Quantity], [IssueDate], [DueDate], [ReturnDate], [TransactionDate], [Notes]) VALUES (3, N'LID000000', N'BID369848', N'G.C.E.A/L Physics Past Papers(2015-2024)', N'ADM001', N'Return', NULL, CAST(N'2025-10-05T09:58:42.527' AS DateTime), CAST(N'2025-10-12T09:58:38.347' AS DateTime), CAST(N'2025-10-06T07:53:31.377' AS DateTime), NULL, NULL)
GO
ALTER TABLE [dbo].[MemberActions] ADD  CONSTRAINT [DF__MemberAct__Actio__589C25F3]  DEFAULT (getdate()) FOR [ActionTime]
GO
ALTER TABLE [dbo].[MemberActions]  WITH CHECK ADD  CONSTRAINT [FK_MemberActions_MemberActions] FOREIGN KEY([ActionID])
REFERENCES [dbo].[MemberActions] ([ActionID])
GO
ALTER TABLE [dbo].[MemberActions] CHECK CONSTRAINT [FK_MemberActions_MemberActions]
GO
USE [master]
GO
